---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="mt-4 md:max-w-3xl mx-auto ">
  <h1 class="text-3xl font-medium">Impressum</h1>
  <h2 class="mt-6 text-2xl font-medium border-b border-gray-500 pb-1">Angaben gemäß § 5 TMG</h2>
  <div class="mt-2 pl-4 flex flex-col">
    <span>Michael Buchholz</span>
    <span>Sielower Landstraße 84</span>
    <span>03044 Cottbus</span>
  </div>
  <div class="mt-2 pl-4 flex flex-col">
    <a href="tel:+49-176-62100162">Telefon: +49 176 62100162</a>
    <a href="mailto:mail@michael-buchholz.com">EMail: mail@michael-buchholz.com</a>
    <a href="https://michael-buchholz.com">Web: www.michael-buchholz.com</a>
  </div>
  <h2 class="mt-6 text-2xl font-medium border-b border-gray-500 pb-1">Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV</h2>
  <div class="mt-2 pl-4 flex flex-col">
    <span>Michael Buchholz</span>
    <span>Sielower Landstraße 84</span>
    <span>03044 Cottbus</span>
  </div>
</div>
</BaseLayout>
