---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="h-full flex flex-col items-center justify-center w-full flex-1 px-20 text-center">
    <h1 class="text-5xl font-semibold">
      michael-buchholz.com
      <small class="block text-gray-400 mt-4 text-3xl">Lean Code!</small>
    </h1>
  </div>
</BaseLayout>
