---
---

<html lang="de">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>michael-buchholz.com</title>
	</head>
	<body>
		<h1>michael-buchholz.com
      <small>Lean Code!</small>
    </h1>
	</body>
</html>
