---
import { CollectionEntry, getCollection } from 'astro:content';
import ContentLayout from '../../layouts/ContentLayout.astro';

export async function getStaticPaths() {
  const resourcesEntries = await getCollection('resources');
  return resourcesEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

interface Props {
  entry: CollectionEntry<'resources'>;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<ContentLayout>
  <h1>{entry.data.title}</h1>
  <Content />
</ContentLayout>
