---
import { CollectionEntry, getCollection } from 'astro:content';

export async function getStaticPaths() {
  const resourcesEntries = await getCollection('resources');
  return resourcesEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

interface Props {
  entry: CollectionEntry<'resources'>;
}
console.log(Astro.props);
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<h1>{entry.data.title}</h1>
<Content />
