---
import DarkmodeToggle from './DarkmodeToggle.astro';
import TopNavigation from './TopNavigation.astro';
---

<header class="h-16 flex items-center px-4 bg-transparent">
  <div class="grow flex justify-center">
    <TopNavigation />
  </div>
  <div>
    <DarkmodeToggle />
  </div>
</header>
