<nav
  class="neutral-cta flex items-center gap-x-4 px-4 border-2 neutral-border rounded-full"
>
  <a href="/" class="neutral-cta-int px-4 py-2"> Start</a>
  <a href="/" class="neutral-cta-int px-4 py-2"> Resources</a>
  <a href="/" class="neutral-cta-int px-4 py-2"> Schulungen</a>
</nav>
