---
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>michael-buchholz.com</title>
    <script is:inline>
      document.documentElement.classList.toggle(
        'dark',
        localStorage.theme === 'dark' ||
          (!localStorage.theme &&
            matchMedia('(prefers-color-scheme: dark)').matches)
      );
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>
