---
import BaseHeader from '../components/BaseHeader.astro';
---

<!DOCTYPE html>
<html lang="de" class="h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>michael-buchholz.com</title>
    <script is:inline>
      document.documentElement.classList.toggle(
        'dark',
        localStorage.theme === 'dark' ||
          (!localStorage.theme &&
            matchMedia('(prefers-color-scheme: dark)').matches)
      );
    </script>
  </head>
  <body
    class="h-full neutral-app-bg-subtl brand-app-text-contrast px-0 sm:px-4 md:px-12"
  >
    <div class="h-full max-w-5xl mx-auto neutral-app-bg">
      <BaseHeader />
      <main>
        <slot />
      </main>
    </div>
  </body>
</html>
