---
import DarkmodeToggle from '../components/DarkmodeToggle';
---

<!DOCTYPE html>
<html lang="de" class="h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>michael-buchholz.com</title>
    <script is:inline>
      document.documentElement.classList.toggle(
        'dark',
        localStorage.theme === 'dark' ||
          (!localStorage.theme &&
            matchMedia('(prefers-color-scheme: dark)').matches)
      );
    </script>
  </head>
  <body class="h-full neutral-app-bg-subtl brand-app-text-contrast">
    <div class="h-full mx-0 sm:mx-4 md:mx-12 neutral-app-bg">
      <header class="h-16 flex items-center px-4">
        <div class="ml-auto">
          <DarkmodeToggle client:only />
        </div>
      </header>
      <main>
        <slot />
      </main>
    </div>
  </body>
</html>
